.gap-25 {
  height: 25px;
}
.gap-50 {
  height: 50px;
}
.gap-100 {
  height: 100px;
}
.gap-125 {
  height: 125px;
}
.gap-150 {
  height: 150px;
}
.gap-200 {
  height: 200px;
}
.container-area {
  height: 100vh;
}
.container-area .background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1000;
}
.container-area .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-area .background .background-mask {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #809d63;
  opacity: 0.5;
}
.container-area .container {
  max-width: 967px;
  padding-top: 70px;
  padding-bottom: 14px;
}
.container-area .container .area-name {
  background-color: #a62317;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-area .container .area-name h3 {
  margin: 0;
}
.container-area .container .area-name .btn-change {
  color: #809d63;
  text-decoration: underline;
  text-transform: capitalize;
}
.container-area .container #area-form {
  margin-bottom: 10px;
}
.container-area .container .content-box {
  padding: 10px;
  background-color: white;
  height: calc(100vh - 147px);
  border-radius: 20px;
  overflow: auto;
}
.container-area .container .content-box .row {
  padding: 0;
  margin: 0;
}
.container-area .container .content-box h1 {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
