.gap-25 {
  height: 25px;
}
.gap-50 {
  height: 50px;
}
.gap-100 {
  height: 100px;
}
.gap-125 {
  height: 125px;
}
.gap-150 {
  height: 150px;
}
.gap-200 {
  height: 200px;
}
.outer-box {
  padding: 10px;
}
.item-box {
  border-radius: 20px;
  background-color: #3a5c1a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-box img {
  height: 150px;
  max-width: 150px;
}
.item-box h3 {
  font-weight: 700;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.item-box:hover {
  box-shadow: 2px 2px 5px #c8d5bc;
}
.item-box .btn-details {
  background-color: #809d63;
  border-color: #809d63;
  color: #253a10;
}
.item-box .btn-details:hover {
  background-color: #a4b990;
}
.item-box .btn-details:active {
  background-color: #c8d5bc;
  border-color: #c8d5bc;
}
