.gap-25 {
  height: 25px;
}
.gap-50 {
  height: 50px;
}
.gap-100 {
  height: 100px;
}
.gap-125 {
  height: 125px;
}
.gap-150 {
  height: 150px;
}
.gap-200 {
  height: 200px;
}
.team-info .team-detail {
  justify-content: center;
  align-items: center;
}
.team-info .team-detail .img-box {
  width: 100%;
  max-width: 250px;
  padding: 10px;
}
.team-info .team-detail .img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.team-info .member-details .member-list {
  height: 150px;
  overflow: auto;
  border: 0.5px solid #c8d5bc;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}
